<div clas="how-to-use">
    Welcome to CONNECT! This application was built to make it easier for you to share
    websites with all your devices, all you have to do is share a website from your
    phone and it will automatically open here.

    Here's how you can use it:
    1- Download the application on your phone, android link and ios link
    2- Login to the app, open your browser on your phone and go to a website you want to
    share
    3- Click the 3 dots on the top of the browser, click share, and click the Conncet app icon

    And that's it! Go ahead, try it!!
</div>